h2 {
  margin-bottom: 20px
}
h3{
  margin-bottom: 40px;
}
.image-row {
  display: flex; /* Устанавливаем flex-контейнер для расположения картинок в строку */
  justify-content: space-between; /* Равномерно распределяем пространство между картинками */
  align-items: center; /* Выравниваем картинки по вертикали по центру */
}

.image-row .image-row__img {
  max-width: 300px; /* Устанавливаем максимальную ширину для каждой картинки */
  height: auto; /* Поддерживаем соотношение сторон картинок */
}

.rectangle-img  {
  width: 85%;
}
.square-img{
  width: 55%;
}

.sprint2__img .image-row__img{
  height: 515px ;
}

.sprint2__response .image-row__img{
  height: 250px ;
}
.sprint2__marks .image-row__img{
  width: 350px;
  height: 180px;
}

.image3-row__img {
  height: 440px;
  width: 270px;
}

.sprint3__figcaption {
  font-size: 27px;
}

.smoll-square-img {
  width: 400px;
}

/* Part 2; */
.image-trello{
  width: 200px;
  height: 390px;
}

.image-checkbox{
  width: 300px;
  height: 400px;
}

.video-chat {
  width: 1000px;
}

.planning.plan{
  display: block;
  width: 700px;
  align-items: center;
  margin: 0 auto;
}