.image-row {
  display: flex; /* Устанавливаем flex-контейнер для расположения картинок в строку */
  justify-content: space-between; /* Равномерно распределяем пространство между картинками */
  align-items: center; /* Выравниваем картинки по вертикали по центру */
}

.image-row .image-row__img {
  max-width: 300px; /* Устанавливаем максимальную ширину для каждой картинки */
  height: auto; /* Поддерживаем соотношение сторон картинок */
}

.rectangle-img  {
  width: 85%;
}
.square-img{
  width: 55%;
}